body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
}

h1 {
    font-size: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="password"] {
    width: 95.3%;
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
}

#status {
    margin-top: 10px;
    color: green;
}

#reset-status {
    margin-top: 10px;
    color: green;
}

#error-message {
    color: red;
}


